@model Classical_Music_Library_Web_App.Models.Composition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Composition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearComposed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearComposed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Composer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Composer.ComposerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnsembleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnsembleType.EnsembleTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenreID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CompositionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
