@model IEnumerable<Classical_Music_Library_Web_App.Models.Composition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearComposed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Composer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnsembleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearComposed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Composer.ComposerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnsembleType.EnsembleTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompositionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CompositionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CompositionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
